* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
/*  border: 0px solid #47d147;*/
/*  background-color: #d6f5d6;*/
}
/* hover 
  color: #004d00;//004d00//004d33
*/

body {
  background-image: url("../grafiki/AZetKa---.gif");
  background-size: 20%;
  margin: 0px;
  font: normal 1em Verdana, Geneva, sans-serif;
}

button {
  font: normal 1em Verdana, Geneva, sans-serif;
  background-color: #47d147;
  border-color: #d6f5d6;
}

div.li-desription {
  margin: 0.5em 10em 3em 10em;
}

div.param-line {
  display: flex;
}
div.param-line:last-of-type {
}
div.param-name {
  float: left;
  width: 20%;
  color: red;
  background-color: #d6f5d6;
  border: 1px solid #47d147;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
div.param-line:last-of-type > div.param-name {
  border-bottom-width: 1px;
}
div.param-value {
  float: left;
  width: 70%;
  color: blue;
  background-color: #d6f5d6;
  border: 1px solid #47d147;
  border-bottom-width: 0px;
}
div.param-line:last-of-type > div.param-value {
  border-bottom-width: 1px;
}
div.param-value:after {
  clear: both;
  contents: "";
}



section.presentation-part {
  margin-bottom: 1em;
}
section.presentation-subpart {
  margin-bottom: 3em;
}

h2.subtitle {
  font: italic bold 1.3em Verdana, Geneva, sans-serif;
  padding: 5px;
  border: 1px solid #d6f5d6; /*greenyellow;*/
  background-color: #47d147;
}

h3.subtitle {
  font: italic 1.2em Verdana, Geneva, sans-serif;
  padding: 5px;
  border: 1px solid #d6f5d6; /*greenyellow;*/
  background-color: #47d147;
}


.monitor {
  font: 1em Courier, monospaced;
  display: none;
}

#top-banner-background {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 180px;
  border-width: 0px;
  background-color: #f0fff0;
}

.top-banner-ads {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  overflow: hidden;
  border-width: 0px;
  border-radius: 5px;
  background-color: #f0fff0;
}
.small-advert {
  position: absolute;
  left: 0;
  border-width: 0px;
}
.small-advfrm {
  position: absolute;
  left: 0;
  border-width: 0px;
}
#large-advert-window {
  position: fixed;
  overflow: hidden;
  display: none;
  border: 1px solid #47d147;
  border-radius: 20px;
  z-index: 10;
}


#baner-logo {
  position: fixed;
  top: 80px;
  right: 0px;
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-width: 0px;
  border-radius: 5px;
  background-color: #f0fff0;
}
#logo-banner-left {
  position: absolute;
  top: 0px;
  left: 0%;
  width: 30%;
  height: 100px;
  border-width: 0px;
  text-align: left;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font: italic 1.0em Verdena, sans-serif;
  z-index: 1;
}
#logo-banner-middle {
  position: absolute;
  top: 0px;
  left: 30%;
  width: 40%;
  height: 100px;
  border-width: 0px;
  display: -webkit-flex;
  display: flex;
  align-content: center;
  justify-content: center;
}
#logo-banner-right {
  position: absolute;
  top: 0px;
  left: 70%;
  width: 30%;
  height: 100px;
  border-width: 0px;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
#company-logo {
}
#company-name {
  font: italic 1.8em Verdena, sans-serif;
}
#company-address {
  font: italic 0.8em Verdena, sans-serif;
}
#company-email {
  font: italic 0.8em Courier, monospace;
}


div.menu-horiz-div {
  display: flex;
  position: fixed;
  top: 180px;
  width: 100%;
/*  height: 40px;*/
  border: 0px solid #004d00;/*transparent;*/
  border-radius: 1px;
  background-color: #47d147; /*yellowgreen;  lightgray;*/
  font: normal 1.2em Verdena, sans-serif;
  z-index: 1;
}
div.menu-horiz-part {
  float: left;
}
div.menu-vert-icon {/* poziome elementy manu głównago*/
/*  display: inline-block;*/
  float: left;
  margin: 3px 5px;
  padding: 1px 5px;
  text-align: center;
  font-size: 1.2em;
/*  text-indent: 0px;*/
/*  min-width: 100px;*/
/*  height: 40px;*/
  background-color: #47d147; /*yellowgreen;*/
  border: 1px solid #47d147;/*#d6f5d6; /*greenyellow;*/
  box-sizing: content-box;
  border-radius: 3px;
}
div.menu-vert-icon:hover {
  color: #004d00;
  background-color: #d6f5d6; /*greenyellow;*/
  cursor: pointer;
}
#menu-vert-cont {
  display: none;
  float: left;
}
ul.menu-vert-ul {
  margin: 0px;
  padding: 0px;
/*  z-index: 4;*/
}
ul.menu-vert-ul > li {
  margin: 0px;
  padding: 0px 5px;
  list-style-type: none;
  border: 1px solid #d6f5d6; /*greenyellow;*/
  border-bottom-width: 0px;
  background-color: #47d147; /*yellowgreen;*/
}
ul.menu-vert-ul > li:last-of-type {
  border-bottom-width: 1px;
}
ul.menu-vert-ul > li:hover {
  background-color: #d6f5d6; /*greenyellow;*/
  border: 1px solid #47d147; /*greenyellow;*/
  cursor: pointer;
}
ul.menu-vert-ul > li > a {
  text-decoration: none;
  color: black;
  background-color: #47d147; /*yellowgreen;*/
}
ul.menu-vert-ul > li > a:hover {
  color: #004d00;
  background-color: #d6f5d6; /*greenyellow;*/
}


ul.menu-horiz-ul {/*ul#menu-horiz-ul01*//*całe menu*/
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 40px;
  margin: 0px 0px;/* 100px;*//*  margin: 5px 0px;*/
  padding: 0px 30px 0px 0px;
  background-color: #47d147; /*yellowgreen;  lightgray;*/
  border: 0px solid red;/*transparent;*/ /*#d6f5d6; /*greenyellow;*/
}
ul.menu-horiz-ul li.menu-horiz-p0 {/* poziome elementy manu głównago*/
  list-style-type: none;
  margin: 3px 5px;
  padding: 1px 1px;
  text-align: center;
/*  text-indent: 0px;*/
/*  min-width: 150px;*/
/*  height: 40px;*/
  background-color: #47d147; /*yellowgreen;*/
  border: 1px solid #d6f5d6; /*greenyellow;*/
  box-sizing: content-box;
  border-radius: 3px;
}
ul.menu-horiz-ul li.menu-horiz-p0:hover {
  background-color: #d6f5d6; /*greenyellow;*/
  cursor: pointer;
}
ul.menu-horiz-ul li.menu-horiz-p0 > a {
  color: black;
  text-decoration: none;
  vertical-align: middle;
  font-size: 110%;
  padding: 2px 20px;
}
ul.menu-horiz-ul li.menu-horiz-p0:hover > a {
  color: #004d00;/*darkslategray;*/
}

ul.menu-horiz-ul li.menu-horiz-p0 > ul {/* Całe podmenu */
  background-color: #47d147; /*yellowgreen;*/
  margin-top: 3px;
  padding: 2px;
  display: none;
  transition: display 1s;
}
ul.menu-horiz-ul li.menu-horiz-p0:hover > ul {
  display: block;
}
ul.menu-horiz-ul li.menu-horiz-p0 > ul > li {/* Każda pozycja podmenu */
  list-style-type: none;
  float: none;
  padding: 2px;
  border: 1px solid #d6f5d6; /*greenyellow;*/
  border-bottom-width: 0px;
}
ul.menu-horiz-ul li.menu-horiz-p0 > ul > li:last-of-type {/* Każda pozycja podmenu */
  border-bottom-width: 1px;
}
ul.menu-horiz-ul li.menu-horiz-p0 > ul > li:hover {/* Każda pozycja podmenu */
  background-color: #d6f5d6; /*greenyellow;*/
}
ul.menu-horiz-ul li.menu-horiz-p0 > ul > li > a {/* Każda pozycja podmenu */
  color: black;
  text-decoration: none;
}
ul.menu-horiz-ul li.menu-horiz-p0 > ul > li:hover > a {/* Każda pozycja podmenu */
  color: #004d00; /*darkslategray;*/
}
ul.menu-horiz-ul li.menu-horiz-p0 > ul > li > ul {
  display: none;
  margin: -1px;
  padding-left: 10px;
}
ul.menu-horiz-ul li.menu-horiz-p0 > ul > li:hover > ul {
  display: block;
  background-color: #47d147; /*yellowgreen;*/
}
ul.menu-horiz-ul li.menu-horiz-p0 > ul > li > ul > li {
  list-style-type: none;
  float: none;
  padding: 2px;
}
ul.menu-horiz-ul li.menu-horiz-p0 > ul > li > ul > li:hover {/* Każda pozycja podmenu */
  background-color: #d6f5d6; /*greenyellow;*/
  border: 1px solid #47d147; /*greenyellow;*/
}
ul.menu-horiz-ul li.menu-horiz-p0 > ul > li > ul > li > a {
  color: black;
  text-decoration: none;
}
ul.menu-horiz-ul li.menu-horiz-p0 > ul > li > ul > li:hover > a {/* Każda pozycja podmenu */
  color: #004d00; /*darkslategray;*/
}
ul.menu-horiz-ul li#menu-horiz-p0-end {
  float: right;
}


#page-pannels {
  position: absolute;
  top: 220px;
  width: 100%;
}


#left-pannel {
  position: fixed;
  top: 220px;
  left: 0px;
  width: 120px;
  bottom: 0px;
  overflow: auto;
  font-size: 70%;
  border: 0px solid #47d147;/*dotted #d6f5d6; /*greenyellow;*/
}

#main-pannel {
  position: fixed;
  top: 220px;
  left: 120px;
  right: 0px;
  bottom: 0px;
/*  padding-left: 10px;*/
  border: 0px solid #47d147;/*dotted #d6f5d6; /*greenyellow;*/
  overflow: auto;
/*  border: 3px solid black;*/
/*  z-index: 3;*/
}
#main-pannel-top {
  background-color: #47d147; /*yellowgreen;*/
  border: 1px solid #47d147;
/*  z-index: 3;*/
}
#main-pannel-middle {
  display: flex;
  border: 0px solid #47d147;/*dotted #d6f5d6; /*greenyellow;*/
}
#presentation-board {
  width: 90%;
  border-width: 0px;
  min-height: 10px;
  padding: 5px;
  border: 0px solid #47d147; /*yellowgreen;*/
}
.presentation-part,
.presentation-subpart {
  display: none;
}
#presentation-board-side {
  width: 10%;
  right: 0px;
  border: 0px dashed #47d147; /*yellowgreen;*/
  padding: 5px;
}

img.my-hpictures {
  width: 300px;
  transition: width 3s ease-in 1s;
}
img.my-vpictures {
  width: 200px;
  transition: width 3s ease-in 1s;
}
img.my-hpictures:hover, img.my-vpictures:hover {
  width: 100%;
}

div#ceil {
  width: 100%;
}
#ceil-walker {
  position: relative;
  left: 0%;
  animation-name: move-ceil-walker;
  animation-timing-function: easy;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  }
@keyframes move-ceil-walker {
    0%   {left: 0%;}
    50%  {left: 96%;}
    100% {left: 0%;}
}
#ceil-walker:hover {
  cursor: pointer;
  font-style: bold;
  color: red;
}

span#symbol-field {
  border: 1px solid grey;
  padding: 8px;
}
/*
table#znaczki {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
table#znaczki th {
  border: 1px solid grey;
  text-align: left;
  font: normal 1em Courier, monospaced;
  vertical-align: top;
  padding: 2px;
}
table#znaczki td {
  border: 1px solid grey;
  text-align: left;
  font: normal 1em Courier, monospaced;
  vertical-align: top;
  padding: 2px;
}
table#znaczki th:nth-child(odd) {
  background-color: grey;
}
table#znaczki th:nth-child(even) {
  background-color: silver;
}
table#znaczki td:nth-child(odd) {
  background-color: silver;
}
*/

.table-header {
  text-align: center;
}
.table-header::after {
  content: "";
  clear: both;
  display: table;
}
.table-row {
}
.table-row::after {
  content: "";
  clear: both;
  display: table;
}
.table-footer {
}
.table-footer::after {
  content: "";
  clear: both;
  display: table;
}
.tab-col1of9 {
  float: left;
  width: 11%;
}
.tab-col1of4 {
  float: left;
  width: 25%;
}
.tab-col2of4 {
  float: left;
  width: 50%;
}
.tab-col3of4 {
  float: left;
  width: 75%;
}

#symbols-table div.table-header {
  font: bold 0.9em Courier, monospaced;
}
#symbols-table div.table-header div {
  border: 1px solid grey;
}
#symbols-table div.table-header div:nth-child(odd) {
  background-color: grey;
}
#symbols-table div.table-header div:nth-child(even) {
  background-color: silver;
}
#symbols-table div.table-row {
}
#symbols-table div.table-row div {
  border: 1px solid grey;
}
#symbols-table div.table-row {
  font: normal 0.9em Courier, monospaced;
}
#symbols-table div.table-row div:nth-child(odd) {
  background-color: silver;
}

#main-pannel-bottom {
  position: relative;
  bottom: 0px;
  padding: 5px;
  background-color: #47d147;
  border: 1px solid #d6f5d6;
}
#main-pannel-bottom > div {
  border: 1px solid #d6f5d6;
}
#main-pannel-bottom div.table-header {
/*  border: 1px solid #d6f5d6; */
  border-bottom: 0px solid #d6f5d6;
}
#main-pannel-bottom div.table-header div {
  font-weight: bold;
}
#main-pannel-bottom div.table-row {
/*  border: 1px solid #d6f5d6; */
  border-bottom: 0px solid #d6f5d6;
}
#main-pannel-bottom div.table-row div {
  vertical-align: top;
}
#main-pannel-bottom div.table-row li {
  color: black;
  list-style-type: circle;
}
#main-pannel-bottom div.table-footer div {
  font-style: italic;
  font-size: 80%;
}



/*
#main-pannel-bottom table {
  table-layout: fixed;
  border: 1px solid #d6f5d6;
  width: 100%;
}
#main-pannel-bottom thead {
  font-weight: bold;
}
#main-pannel-bottom tbody {
  vertical-align: top;
}
#main-pannel-bottom tbody a {
  color: black;
  text-decoration: none;
}
#main-pannel-bottom tfoot {
  font-style: italic;
  font-size: 90%;
}
*/

/*
#monitor-mouse
#monitor-keyboard
#monitor-mainsize
#monitor-mainscroll
#monitor-monitor  {
  position: relative;
  left: 0px;
  animation-name: move-monitor-monitor;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: 3;
  }
@keyframes move-monitor-monitor {
    0%   {left: 0%;}
    50%  {left: 50%;}
    100% {left: 100%;}
}
#monitor-monitor:hover {
  cursor: pointer;
  left: 50%;
  transition: left 1s;
  color: red;
}
*/

/*SZUFLADKI*/
.drawer {
  position: fixed;
  top: 160px;
/*  left: 160px;*/
/*  right: 160px;*/
/*  width: 160px;*/
/*  height: 96px;*/
  align: center;
  background-color: #47d147;
  border: 1px solid #d6f5d6;
  border-radius: 5px;
  box-shadow: 5px 5px 5px darkgrey;
/*  z-index: 10;*/
}
.drawer-handle {
  position: absolute;
  top: 0px;
  right: -32px;
  width: 32px;
  height: 17px;
  line-height: 14px;
  border: 1px solid #d6f5d6;
  border-radius: 10px;
  background-color: #47d147;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  box-shadow: 5px 5px 5px darkgrey;
/*  z-index: 10;*/
}
.drawer-handle p {
  margin: 0px;/*padding-bottom: 3px;*/
}
.drawer-handle:hover {
  color: red;
}
.drawer-title {
/*  color: #004d00;*/
  font-size: medium;
  font-style: italic;
  font-weight: bold;
  padding: 1em 1em 0em 1em;
  text-align: center;
}
.drawer ul {
  color: red;
  text-align: center;
  font-size: small;
  padding: 0em 1em 1em 1em;
}
.drawer li {/* poziome elementy manu głównego*/
  display: inline-block;
  list-style-type: none;
  color: #004d00;
  text-align: center;
  font-size: small;
  padding: 2px 2px;
  /*width: 8em;*/
  background-color: #d6f5d6;
  border: 1px solid gray;
  text-indent: 0px;
  margin: 2px;
}
.drawer a {
  text-decoration: none;
  color: black;
}
.drawer li:hover {
  background-color: #d6f5d6;
  cursor: pointer;
}
.drawer li:hover a {
  font-weight: bold;
  color: #004d00;
}


.drawer#drawer-left1 {
  top: 220px;
  left: -200px;
  width: 200px;
  -webkit-transition: left 0.5s; /* Safari */
  transition: left 0.5s;
  -webkit-animation-name: move-drawer-left1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: move-drawer-left1;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
  animation-timing-function: linear;
  }
@-webkit-keyframes move-drawer-left1 {/* Safari 4.0 - 8.0 */
    0%   {left: -200px;}
    50%  {left: -100px;}
    100% {left: -200px;}
}
@keyframes move-drawer-left1 {/* Standard syntax */
    0%   {left: -200px;}
    50%  {left: -100px;}
    100% {left: -200px;}
}
.drawer#drawer-left1:hover {
  left: 0px;
  -webkit-transition: left 1s; /* Safari */
  transition: left 1s;
}

.drawer#drawer-left2 {
  top: 400px;
  left: -200px;
  width: 200px;
  -webkit-transition: left 0.5s; /* Safari */
  transition: left 0.5s;
  -webkit-animation-name: move-drawer-left1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: move-drawer-left1;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
  animation-timing-function: linear;
  animation-delay: 0.5s;
  }
@-webkit-keyframes move-drawer-left2 {/* Safari 4.0 - 8.0 */
    0%   {left: -200px;}
    50%  {left: -100px;}
    100% {left: -200px;}
}
@keyframes move-drawer-left2 {/* Standard syntax */
    0%   {left: -200px;}
    50%  {left: -100px;}
    100% {left: -200px;}
}
.drawer#drawer-left2:hover {
  left: 0px;
  -webkit-transition: left 1s; /* Safari */
  transition: left 1s;
}

.drawer#drawer-right1 {
  top: 260px;
  right: -200px;
  width: 200px;
  -webkit-transition: right 0.5s; /* Safari */
  transition: right 0.5s;
  -webkit-animation-name: move-drawer-left1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: move-drawer-right1;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
  animation-timing-function: linear;
  animation-delay: 1s;
  }
@-webkit-keyframes move-drawer-right1 {/* Safari 4.0 - 8.0 */
    0%   {right: -200px;}
    50%  {right: -100px;}
    100% {right: -200px;}
}
@keyframes move-drawer-right1 {/* Standard syntax */
    0%   {right: -200px;}
    50%  {right: -100px;}
    100% {right: -200px;}
}
.drawer#drawer-right1 .drawer-handle {
  left: -32px;
}
.drawer#drawer-right1:hover {
  right: 0px;
  -webkit-transition: right 1s; /* Safari */
  transition: right 1s;
}

/*
.drawer#drawer1 {
  top: 48px;
  left: -144px;
  width: 640px;
}
.drawer#drawer2 {
  top: 48px;
  right: -144px;
  width: 640px;
}
.drawer#drawer3 {
  top: 48px;
  left: -144px;
  width: 640px;
}
.drawer#drawer4 {
  top: 48px;
  right: -144px;
  width: 640px;
}
*/

.goto-box {
  position: fixed;
  right: 20px;
  width: 40px;
  bottom: 20px;
  height: 40px;
  font-size: 35px;
  text-align: center;
  line-height: 80%;
  opacity: 0.8;
  border: none;
  background-color: #47d147;
  color: #004d00;
  border-radius: 40px;
/*  z-index: 100;*/
}
.goto-box:hover {
  cursor: pointer;
  color: white;
/*  font-size: 55px;*/
  opacity: 1;
}

div.aaaa {
  width: 50px;
  height: 50px;
  background-color: white;
  -webkit-animation-name: color-rotating; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: color-rotating;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
  animation-timing-function: linear;
  animation-iteration-count: 3;
}
div.aaaa:hover {
  -webkit-animation-name: color-rotating2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: color-rotating2;
  animation-duration: 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes color-rotating {
    0%   {background-color: white; transform: rotate(0deg);}
    25%  {background-color: yellow;transform: rotate(90deg);}
    50%  {background-color: blue;  transform: rotate(180deg);}
    75%  {background-color: green; transform: rotate(270deg);}
    100% {background-color: red;   transform: rotate(360deg);}
}
/* Standard syntax */
@keyframes color-rotating {
    0%   {background-color: white; width: 50px; height: 50px; transform: rotate(0deg);}
    25%  {background-color: yellow;width: 60px; height: 40px; transform: rotate(90deg);}
    50%  {background-color: blue;  width: 70px; height: 30px; transform: rotate(180deg);}
    75%  {background-color: green; width: 60px; height: 40px; transform: rotate(270deg);}
    100% {background-color: red;   width: 50px; height: 50px; transform: rotate(360deg);}
}

#lista-kafelkow li {
  width: 200px;
  text-align: center;
  list-style-type: none;
  background-color: #47d147;
  border: 1px solid #47d147;
  text-indent: 0px;
}
#lista-kafelkow li:hover {
  color: #004d00;//green
  background-color: #d6f5d6;
  cursor: pointer;
}



/*============================*/
.alert-box {
  position: fixed;
  top: 30%;
  left: 40%;
  min-height: 5em;
  min-width: 20%;
  text-align: center;
  border: 2px solid #47d147;
  background-color: #d6f5d6;
  display: none;
  z-index: 10;
}
.alert-box-text {
  margin: 1em;
  text-align: center;
}
.alert-box-button {
  margin-bottom: 1em;
}


