* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
/*  border: 0px solid #47d147;*/
/*  background-color: #d6f5d6;*/
}
/* hover
  color: #004d00;//004d00//004d33
*/

body {
  background-color: #eafaea;
  background-image: url("../grafiki/AZetKa---.gif");
  background-size: 20%;
  margin: 0px;
  font: normal 1em Verdana, Geneva, sans-serif;
}

button,
input[type=button] {
  font: normal 1em Verdana, Geneva, sans-serif;
  /*background-color: #47d147;*/
  border-color: #d6f5d6;
}
/*
div {
  border: 1px solid #47d147;
}
*/
#top-pannel {
  position: absolute;
  top: 0px;
  height: 2px;
  width: 100%;
  clear: left;
  text-align: center;
  border: 1px solid transparent;
}

#middle-pannel {
  position: absolute;
  top: 2px;
  bottom: 2px;
  width: 100%;
  display: flex;
  border: 0px solid #c1f0c1;
}
#control-pannel {
  position: relative;
  left: 0px;
  width: 200px;
  float: left;
  text-align: center;
  background-color: transparent;/*#d6f5d6;*/
  z-index: 1000;
}
#control-control {
  position: absolute;
  top: 100px;/*50%;*/
  right: -20px;
  width: 40px;
  height: 40px;
  line-height: 36px;
  border-radius: 20px;
  font-size: 32px;
  text-align: center;
  color: green;
  background-color: #d6f5d6;
  border: 1px solid green;/*#c1f0c1;*/
  z-index: 1000;
  opacity: 1;
}
#control-control:hover {
  font-weight: : bold;
  background-color: #c1f0c1;
  cursor: pointer;
}

.control-block {
  position: relative;
/*  display: inline;*/
  margin: 10px 2px;
  padding: 0.5em;
/*  border: 1px solid #c1f0c1;*//*#eafaea;*/
/*  box-shadow: 3px 3px #c1f0c1;*/
  clear: right;
}

#map-pannel {
  position: absolute;
  left: 0px;
  right: 0px;
/*  float: left;
  clear: left;*/
  height: 100%;
/*  width: 1000px;*/
  border: 1px solid transparent;
}

#bottom-pannel {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 2px;
  width: 100%;
  text-align: center;
  clear: left;
  border: 1px solid transparent;
}
